<?xml version= "1.0"  encoding= "UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
<!-- 代理工厂bean   -->
<bean id="personProxy" class="org.springframework.aop.framework.ProxyFactoryBean">  
    <property name="proxyInterfaces" value="com.javaapi.test.spring.aop.Person"/>  
    <property name="target" ref="personTarget"/>  
    <property name="interceptorNames">  
<!--     处理的顺序跟list中的顺序有关 -->
        <list>  
            <value>personBeforeAdvice</value>  
            <value>personAroundAdvice</value>  
<!--             这个personAfterReturningAdvice很有考究:最后注册的,方法调用后是最先执行的. -->
            <value>personAfterReturningAdvice</value>   
<!--             <value>personThrowsAdvice</value>    -->
        </list>  
    </property>  
</bean>  
</beans>