<?xml version="1.0" encoding="UTF-8"?><!--Spring框架需要使用的bean定义文件-->
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="beane" class="com.javaapi.test.spring.zotherFeature.SpringInitOrder.E"></bean>

    <bean id="beanf" class="com.javaapi.test.spring.zotherFeature.SpringInitOrder.F"></bean>

    <bean id ="beanb" class="com.javaapi.test.spring.zotherFeature.SpringInitOrder.B">
        <property name="e" ref="beane"></property>  <!--设置bean的成员变量的实现类-->
        <property name="f" ref="beanf"></property>
        <property name="sb" value="初始sb"></property>
    </bean>

    <bean id ="beanc" class="com.javaapi.test.spring.zotherFeature.SpringInitOrder.C"></bean>

    <bean id="beand" class="com.javaapi.test.spring.zotherFeature.SpringInitOrder.D">    
        <property name="sd1" value="初始sd1"></property>
        <property name="sd" value="初始sd"></property>    
    </bean>

</beans>