<?xml version= "1.0"  encoding= "UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
<!-- 测试name属性bean,name属性是对id属性的扩充 ,可以允许重复值等 -->
	<bean name="school" class="com.javaapi.test.spring.xmlSpring.School">
		<property name="teacher" ref="teacher"/>
	</bean>
	<bean id="teacher" class="com.javaapi.test.spring.xmlSpring.TeacherImp">
		<property name="name" value="wk-xml"/>
	</bean>
</beans>