<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:util="http://www.springframework.org/schema/util"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.0.xsd

	">
    <!--<util:properties id="configproperties" location="classpath:com/javaapi/test/testUtil/fileUtil/letvBack/config.properties" />-->

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:com/javaapi/test/testUtil/fileUtil/letvBack/config.properties</value>
            </list>
        </property>
    </bean>

    <!--  只有一个扫描也是支持spring注解的 -->
    <context:component-scan base-package="com.javaapi.test.dao.jdbc.springjdbc"/>
    <!-- 注意一个xml中写 " & "  需要 抓换成"&amp" 符号的问题 @see http://hi.baidu.com/zhy65991/item/b316bf2eb4d30ecbdcf69ad0 -->

    <bean id="dataSource"
class="org.apache.commons.dbcp.BasicDataSource"
destroy-method="close"
        p:driverClassName="com.mysql.jdbc.Driver"
        p:url="${jdbc.url.system32}"
        p:username="${jdbc.username.system32}"
        p:password="${jdbc.password.system32}"/>

    <bean id="txManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
  	<property name="dataSource" ref="dataSource" />
  </bean>

    <bean id="dataSourceTrans"
          class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close"
          p:driverClassName="com.mysql.jdbc.Driver"
          p:url="${jdbc.url.avideo}"
          p:username="${jdbc.username.avideo}"
          p:password="${jdbc.password.avideo}"/>


    <bean id="jdbcTemplateTrans" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSourceTrans" />
    </bean>

    <bean id="namedJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
  	<constructor-arg name="classicJdbcTemplate" ref="jdbcTemplate" />
  </bean>
    <tx:annotation-driven transaction-manager="txManager"  proxy-target-class="false"/>
</beans>