<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd ">
<!--  只有一个扫描也是支持spring注解的 -->
 <context:component-scan base-package="com.javaapi.test.spring.zotherFeature.lifeCircle"/>
 
 
 <!-- 默认情况下，ApplicationContext（不是BeanFactory）会预实例化所有singleton的bean。因此很重要的一点是：如果你只想把一个（父）bean定义当作模板使用，而它又指定了class属性，那么你就得将'abstract'属性设置为'true'，否则应用上下文将会（试着）预实例化抽象bean。 -->
	<bean name="people" class="com.javaapi.test.spring.zotherFeature.lifeCircle.People" init-method="preconstruct" destroy-method="destroymethod" >
		<property name="name" value="people"/>
		<property name="age" value="25"/>
	</bean>
	<bean id="teacher"  class="com.javaapi.test.spring.zotherFeature.lifeCircle.Teacher">
		<property name="name" value="teacher"/>
		<property name="position" value="common"/>
	</bean>
	<bean id="worker"  class="com.javaapi.test.spring.zotherFeature.lifeCircle.Worker">
		<property name="name" value="woker"/>
		<property name="home" value="workerhome"/>
	</bean>
</beans>