<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper  
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.javaapi.test.dao.mybatis.springInterface.mapper.BillMapper">
     <select id="selectAll" resultType="java.util.Map">
     		SELECT * FROM bill;
    </select>  
     <select id="selectBill" parameterType="java.lang.Long" resultType="java.util.Map" >
    	select * from billdetail 
    	<if test="billid !=null and billid !='' ">
	    	where billid=#{billid}
    	</if>
    	
    </select>
     <select id="selectBillMap" parameterType="java.util.Map" resultType="java.util.Map" >
    	select * from billdetail
    	<if test="billid !=null and billid !='' ">
	    	where billid=#{billid}
    	</if>
    </select>
	<select id="selectBillObject" parameterType="com.javaapi.test.dao.mybatis.springInterface.domain.Bill" resultType="com.javaapi.test.dao.mybatis.springInterface.domain.Bill" >
    	select * from billdetail 
    	<if test="billid !=null and billid !='' ">
	    	where billid=#{billid}
    	</if>
    </select>
</mapper> 