<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper  
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.javaapi.test.dao.mybatis.springInterface.mapper.UserMapper">  
  <resultMap type="com.javaapi.test.dao.mybatis.User" id="userId">
  	<result property="id" column="id"/>
  	<!--     相当于查找一个对象 -->
  	<result property="testTypeHandler" column="val" javaType="com.javaapi.test.dao.mybatis.UserInfo" jdbcType="VARCHAR"/> 
  </resultMap>
    <select id="getUser" resultType="com.javaapi.test.dao.mybatis.User">  
        select * from users  
    </select>  
<!--     相当于插入一个对象 -->
    <insert id="insertUserTypeHandler" parameterType="com.javaapi.test.dao.mybatis.User"  useGeneratedKeys="true" keyColumn="id" >
    	insert into csc_sns_dev.tbl_b(id,val) values(#{id},#{testTypeHandler,javaType=com.javaapi.test.dao.mybatis.UserInfo,jdbcType=VARCHAR});
    </insert>
    
     <select id="getOneUser" parameterType="com.javaapi.test.dao.mybatis.User" resultMap="userId" >  
        select * from csc_sns_dev.tbl_b   where  id=#{id};
    </select>  
</mapper> 