<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd" default-lazy-init="true">

    <context:component-scan base-package="com.javaapi.test.spring.aop.springaop3"/>
	<!-- 为指定bean名字自动生成aop得代理(但是切点还是要自己手动配置)-->
<!-- 	AbstractAutowireCapableBeanFactory 会回调 BeanNameAutoProxyCreator  得 getAdvicesAndAdvisorsForBean方法,达到自动处理的原理 -->
	 <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames" value="*Impl"/>                       <!-- 只为后缀是“Impl”的 Bean 生成代理 -->
        <property name="interceptorNames" value="greetingAroundAdvice2"/> <!-- 增强 -->
        <property name="optimize" value="true"/>                         <!-- 是否对代理生成策略进行优化 -->
    </bean>
</beans>