<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
       
       
	<context:component-scan 	base-package="com.javaapi.test.spring.zotherFeature.scheduler.springscheduler" />
	<task:scheduled-tasks scheduler="myScheduler" >
<!-- 		<task:scheduled ref="taskJob" method="job1" cron="0/5 * * * * ?" /> -->
 		<task:scheduled ref="taskJob" method="job1" fixed-delay="1000" />
<!-- 		<task:scheduled ref="taskJobXml" method="job1" cron="0 0/10 * * * ?" /> -->

			<!--注意cron表达式 不可以实现 每隔40秒   fixed-delay可以实现-->
<!-- 			<task:scheduled ref="taskJobXml" method="job1" cron="40/40 * * * * ?" /> -->
		<!--<task:scheduled ref="taskJobXml" method="job1" fixed-delay="1000"/>-->
        <!--<task:scheduled ref="taskJobXml" method="job1" fixed-delay="5000"/>-->
        <!--<task:scheduled ref="taskJobXml" method="job2" fixed-delay="5000"/>-->
        <!--<task:scheduled ref="taskJobXml" method="job2" fixed-delay="1000"/>-->
        <task:scheduled ref="taskJobXml" method="job3" fixed-delay="1000" />

    </task:scheduled-tasks>
	<task:scheduler id="myScheduler" pool-size="10" />
<!-- 	<bean id="taskJobXml" class="com.javaapi.test.spring.zotherFeature.scheduler.TaskJobXml" init-method="job1" /> -->
	<bean id="taskJobXml" class="com.javaapi.test.spring.zotherFeature.scheduler.springscheduler.TaskJobXml" 		init-method="job_init" />
</beans>