<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	<aop:config>
		<aop:aspect ref="aspectBean">
			<aop:after 	pointcut-ref="pcService" method="doAfter"/>
			<aop:before pointcut-ref="pcService" method="doBefore"/>
			<aop:pointcut id="pcService" expression="execution(* com.javaapi.test.spring.aop.aspectj..*.*(..))" />
		</aop:aspect>
	</aop:config>
	<bean id="aspectBean" class="com.javaapi.test.spring.aop.aspectj.MyAspect" />
	<bean id="mybservice" class="com.javaapi.test.spring.aop.aspectj.MyBService" />
</beans>