<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd" default-lazy-init="false">

    <!-- more bean definitions for data access objects go here -->

    <bean id="book" class="com.javaapi.test.spring.aop.springaop2AutoProxy3AspectJAnnotataion.Book">
        <property name="name" value="Effective java" />
        <property name="url" value="www.google.cn"/>
        <property name="pages" value="300" />
    </bean>
    <!-- around  method -->
    <bean id="aroundMethod"  class="com.javaapi.test.spring.aop.springaop2AutoProxy3AspectJAnnotataion.AroundMethod" />

    <!-- define  a  pointcut -->

    <bean id="bookPointcut" class="org.springframework.aop.support.NameMatchMethodPointcut">
        <property name="mappedName" value="printName" />
    </bean>

    <!-- define a advisor -->
    <bean id="bookAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="pointcut"  ref="bookPointcut"/>
        <property name="advice" ref="aroundMethod"></property>
    </bean>

     <!-- 配置了 aop:aspectj-autoproxy 就可以省略bookProxy 得配置-->
    <!--<aop:aspectj-autoproxy  proxy-target-class="true"/>-->
    <aop:aspectj-autoproxy  proxy-target-class="false"/>

</beans>